<div class="view-wrapper list-page">
  <!-- <app-barra-data-mtto
	[tituloVentana]="tituloVentana"
	[isBrowse]="isBrowse()"
	[isForm]="isForm()"
	[permiteAdd]="false"
	(nuevo)="nuevo()"
	(guardar)="guardar()"
  (consultar)="consultar()"
  [showRefresh]="true"
  >
  </app-barra-data-mtto> -->

  <dx-toolbar class="theme-dependent">
    <dxi-item location="before">
      <span class="toolbar-header">{{ tituloVentana }}</span>
    </dxi-item>
    <dxi-item
      location="before"
      widget="dxButton"
      [options]="{
        icon: 'save',
        text: 'Guardar',
        type: 'success',
        stylingMode: 'contained',
        height: '30',
        width: '110',
        onClick: guardar,
        visible: true
      }"
    ></dxi-item>
  </dx-toolbar>


  <div *ngIf="!isBrowse()">
    <dx-form #fData id="fData" [formData]="model" [labelLocation]="'top'" [colCount]="6" [items]="items">
      <dxi-item
      [dataField]="'CORR_PROVEEDOR'"
      [label]="{ text: 'Corr.' }"
      [colSpan]="1"
      [editorOptions] ="{ readOnly: true }">
      </dxi-item>
      <dxi-item
      [dataField]="'CODIGO_PROVEEDOR'"
      [label]="{ text: 'Código' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false, maxLength: 20  }">
      </dxi-item>
      <dxi-item
      [dataField]="'TIPO_PERSONERIA'"
      [label]="{ text: 'Tipo Personería' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false, maxLength: 1  }"
      [template]="'TIPO_PERSONERIALookup'"
      >
      </dxi-item>
      <dxi-item
      [dataField]="'NOMBRE_PROVEEDOR'"
      [label]="{ text: 'Razón Social' }"
      [colSpan]="3"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 150 }">
      </dxi-item>
      <dxi-item
          itemType="group"
          caption=""
          name="Natural"
          [colSpan]="6"
          colCount="6"
          [visible]="mostrarNatural"
        >
        <dxi-item
        [dataField]="'PRIMER_NOMBRE'"
        [label]="{ text: 'Primer Nombre' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 50  }">
        </dxi-item>
        <dxi-item
        [dataField]="'SEGUNDO_NOMBRE'"
        [label]="{ text: 'Segundo Nombre' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 50  }">
        </dxi-item>
        <dxi-item
        [dataField]="'PRIMER_APELLIDO'"
        [label]="{ text: 'Primer Apellido' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 50  }">
        </dxi-item>
        <dxi-item
        [dataField]="'SEGUNDO_APELLIDO'"
        [label]="{ text: 'Segundo Apellido' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 50  }">
        </dxi-item>
        <dxi-item
        [dataField]="'CORR_TIPO_DIP'"
        [label]="{ text: 'Tipo DIP' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: false }"
        [template]="'CORR_TIPO_DIPLookup'">
        </dxi-item>
        <dxi-item
        [dataField]="'NUMERO_DIP'"
        [label]="{ text: 'No. DIP' }"
        [colSpan]="1"
        [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
        </dxi-item>
      </dxi-item>
      <dxi-item
      [dataField]="'NOMBRE_COMERCIAL'"
      [label]="{ text: 'Nombre Comercial' }"
      [colSpan]="2"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 150  }">
      </dxi-item>
      <dxi-item
      [dataField]="'NUMERO_NRC'"
      [label]="{ text: 'No. NRC' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
      </dxi-item>
      <dxi-item
      [dataField]="'NUMERO_NIT'"
      [label]="{ text: 'No. NIT' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
      </dxi-item>
      <dxi-item
      [dataField]="'ESTADO_PROVEEDOR'"
      [label]="{ text: 'Estado' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'ESTADO_PROVEEDORLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'ESTADO_PROVEEDOR_WEB'"
      [label]="{ text: 'Estado Web' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'ESTADO_PROVEEDOR_WEBLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'DIRECCION_PROVEEDOR'"
      [label]="{ text: 'Dirección' }"
      [colSpan]="3"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 50  }">
      </dxi-item>
      <dxi-item
      [dataField]="'CODIGO_PAIS'"
      [label]="{ text: 'País' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CODIGO_PAISLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'CODIGO_DEPTO'"
      [label]="{ text: 'Depto.' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CODIGO_DEPTOLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'CODIGO_MUNICIPIO'"
      [label]="{ text: 'Municipio' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CODIGO_MUNICIPIOLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'CORR_ACTIVIDAD_ECONOMICA'"
      [label]="{ text: 'Actividad Económica' }"
      [colSpan]="2"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CORR_ACTIVIDAD_ECONOMICALookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'NOMBRE_CONTACTO'"
      [label]="{ text: 'Contacto' }"
      [colSpan]="2"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
      </dxi-item>
      <dxi-item
      [dataField]="'TELEFONO_FIJO'"
      [label]="{ text: 'Teléfono Fijo' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
      </dxi-item>
      <dxi-item
      [dataField]="'TELEFONO_MOVIL'"
      [label]="{ text: 'Teléfono Móvil' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 25  }">
      </dxi-item>
      <dxi-item
      [dataField]="'CORREO_ELECTRONICO_1'"
      [label]="{ text: 'Correo Electrónico 1' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 255  }">
      </dxi-item>
      <dxi-item
      [dataField]="'CORREO_ELECTRONICO_2'"
      [label]="{ text: 'Correo Electrónico 2' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 255  }">
      </dxi-item>
      <dxi-item
      [dataField]="'CORR_FORMA_PAGO'"
      [label]="{ text: 'Forma de Pago' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CORR_FORMA_PAGOLookup'">
      </dxi-item>
      <dxi-item
      [dataField]="'CUENTA_BANCARIA'"
      [label]="{ text: 'Cuenta Bancaria' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: true, maxLength: 30  }">
      </dxi-item>
      <dxi-item
      [dataField]="'CORR_BANCO'"
      [label]="{ text: 'Banco' }"
      [colSpan]="1"
      [editorOptions] ="{ placeholder: '', showClearButton: false }"
      [template]="'CORR_BANCOLookup'">
      </dxi-item>

      <div *dxTemplate="let cellInfo of 'CORR_TIPO_DIPLookup'">
        <app-data-lookup
          [model]="mCORR_TIPO_DIP"
          [(value)]="model.CORR_TIPO_DIP"
          [valueExpr]="'CORR_TIPO_DIP'"
          [displayExpr]="'NOMBRE_TIPO_DIP'"
          [selectedRowKeys]="selectedLookUpCORR_TIPO_DIP"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CORR_ACTIVIDAD_ECONOMICALookup'">
        <app-data-lookup
          [model]="mCORR_ACTIVIDAD_ECONOMICA"
          [(value)]="model.CORR_ACTIVIDAD_ECONOMICA"
          [valueExpr]="'CORR_ACTIVIDAD_ECONOMICA'"
          [displayExpr]="'NOMBRE_ACTIVIDAD_ECONOMICA'"
          [selectedRowKeys]="selectedLookUpCORR_ACTIVIDAD_ECONOMICA"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CODIGO_PAISLookup'">
        <app-data-lookup
          [model]="mCODIGO_PAIS"
          [(value)]="model.CODIGO_PAIS"
          [valueExpr]="'CODIGO_PAIS'"
          [displayExpr]="'NOMBRE_PAIS'"
          [selectedRowKeys]="selectedLookUpCODIGO_PAIS"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CODIGO_DEPTOLookup'">
        <app-data-lookup
          [model]="mCODIGO_DEPTO"
          [(value)]="model.CODIGO_DEPTO"
          [valueExpr]="'CODIGO_DEPTO'"
          [displayExpr]="'NOMBRE_DEPTO'"
          [selectedRowKeys]="selectedLookUpCODIGO_DEPTO"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CODIGO_MUNICIPIOLookup'">
        <app-data-lookup
          [model]="mCODIGO_MUNICIPIO"
          [(value)]="model.CODIGO_MUNICIPIO"
          [valueExpr]="'CODIGO_MUNICIPIO'"
          [displayExpr]="'NOMBRE_MUNICIPIO'"
          [selectedRowKeys]="selectedLookUpCODIGO_MUNICIPIO"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CORR_FORMA_PAGOLookup'">
        <app-data-lookup
          [model]="mCORR_FORMA_PAGO"
          [(value)]="model.CORR_FORMA_PAGO"
          [valueExpr]="'CORR_FORMA_PAGO'"
          [displayExpr]="'NOMBRE_FORMA_PAGO'"
          [selectedRowKeys]="selectedLookUpCORR_FORMA_PAGO"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'CORR_BANCOLookup'">
        <app-data-lookup
          [model]="mCORR_BANCO"
          [(value)]="model.CORR_BANCO"
          [valueExpr]="'CORR_BANCO'"
          [displayExpr]="'NOMBRE_BANCO'"
          [selectedRowKeys]="selectedLookUpCORR_BANCO"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'ESTADO_PROVEEDORLookup'">
        <app-data-lookup
          [model]="mESTADO_PROVEEDOR"
          [(value)]="model.ESTADO_PROVEEDOR"
          [selectedRowKeys]="selectedLookUpLista"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'ESTADO_PROVEEDOR_WEBLookup'">
        <app-data-lookup
          [model]="mESTADO_PROVEEDOR_WEB"
          [(value)]="model.ESTADO_PROVEEDOR_WEB"
          [selectedRowKeys]="selectedLookUpLista"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
      <div *dxTemplate="let cellInfo of 'TIPO_PERSONERIALookup'">
        <app-data-lookup
          [model]="mTIPO_PERSONERIA"
          [(value)]="model.TIPO_PERSONERIA"
          [selectedRowKeys]="selectedLookUpTIPO_PERSONERIA"
          [readOnly]="readOnly"
        >
        </app-data-lookup>
      </div>
    </dx-form>
    <dx-tab-panel #tabPanel [selectedIndex]="0">
      <dxi-item title="Detalle de Documento" [icon]="'doc'" >
        <div class="dx-grid-deta">
          <dx-data-grid
          #gDataDocumentos
          id="gridContainer"
          [dataSource]="mCOM_PROVEEDOR_DOC"
          (onRowDblClick)="gDataProveedorActuDocRowDblClick($event)"
          [columnAutoWidth]="false"
          [showBorders]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [hoverStateEnabled]="false"
          [allowColumnResizing]="true"
          [columnResizingMode]="'widget'"
          [focusedRowEnabled]="true"
          [height]="'100%'"
          [width]="'100%'"
          [keyExpr]="[
            'CORR_EMPRESA',
            'CORR_PROVEEDOR',
            'CORR_DOCUMENTO'
          ]"
        >
        <dxo-toolbar>
          <dxi-item location="before" [visible]="true" >
            <div *dxTemplate>
              <dx-button class="myButton3" [icon]="'add'" text="Agregar Documento" type="success" (onClick)="AgregarDocumento($event)" width="185">
              </dx-button>
            </div>
          </dxi-item>
          <dxi-item name="exportButton" location="after"></dxi-item>
          <dxi-item name="searchPanel" location="after"></dxi-item>
        </dxo-toolbar>
          <dxo-editing
            mode="cell"
            [refreshMode]="'reshape'"
            [allowUpdating]="false"
            [allowDeleting]="false"
            [useIcons]="true"
          >
          </dxo-editing>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-load-panel [enabled]="false"></dxo-load-panel>
          <dxo-search-panel [visible]="true"></dxo-search-panel>
          <dxo-export [enabled]="true" fileName="Detalle"></dxo-export>
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-filter-panel [visible]="true"></dxo-filter-panel>
          <dxi-column dataField="CORR_EMPRESA" caption="" [visible]="false">
          </dxi-column>
          <dxi-column dataField="CORR_PROVEEDOR" caption="" [visible]="false">
          </dxi-column>
          <dxi-column
            dataField="CORR_DOCUMENTO"
            caption=""
            [visible]="false"
          >
          </dxi-column>
          <dxi-column
          dataField="NOMBRE_TIPO_DOCUMENTO"
          caption="Tipo de Documento"
          width="150"
          [allowEditing]="false"
        ></dxi-column>
          <dxi-column
            dataField="NOMBRE_DOCUMENTO"
            caption="Nombre del Documento"
            width="250"
            [allowEditing]="false"
          >
          </dxi-column>
          <dxi-column
            dataField="DESCRIPCION_DOCUMENTO"
            caption="Descripción del Documento"
            width="350"
            [allowEditing]="false"
          >
          </dxi-column>
          </dx-data-grid>
        </div>
      </dxi-item>
    </dx-tab-panel>
  </div>
</div>

<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="(loadingVisible)"
>
</dx-load-panel>

<dx-popup
  [width]="'500px'"
  [position]="'top'"
  [height]="'350px'"
  [showTitle]="true"
  title="Agregando Documentos"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  [shading]="false"
  [(visible)]="popupVisibleDoc"
  class="popout"
>
<div *dxTemplate="let data of 'content'">
  <dx-form #fDocumento id="fDocumento" [colCount]="4" [height]="'auto'" [formData]="mDocumento">
    <dxi-item dataField="NOMBRE_DOCUMENTO" [label]="{text: 'Nombre Documento'}" [editorType]="'dxTextBox'" [colSpan]="2" [editorOptions]="{ placeholder: 'Nombre del Documento...', showClearButton: true, maxLength: 150 }">
      <dxi-validation-rule type="required"  message="El nombre del Documento es obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <dxi-item
      dataField="CORR_TIPO_DOCUMENTO"
      [label]="{ text: 'Tipo de Documento' }"
      [colSpan]="2"
      [editorOptions]="{ placeholder: 'Tipo Documento...', showClearButton: true }"
      [template]="'cbTipoDocumento'"
      >
    </dxi-item>
    <div *dxTemplate="let cellInfo of 'cbTipoDocumento'">
        <app-data-lookup
          [model]="mCORR_TIPO_DOCUMENTO"
          [(value)]="mDocumento.CORR_TIPO_DOCUMENTO"
          [valueExpr]="'CORR_TIPO_DOCUMENTO'"
          [displayExpr]="'NOMBRE_TIPO_DOCUMENTO'"
          [selectedRowKeys]="selectedLookUpCORR_TIPO_DOCUMENTO"
        >
        </app-data-lookup>
    </div>
    <dxi-item dataField="DESCRIPCION_DOCUMENTO" [label]="{text: 'Descripción'}" [editorType]="'dxTextBox'" [colSpan]="4" [editorOptions]="{ placeholder: 'Descripción del Documento...', showClearButton: true, maxLength: 255 }">
      <dxi-validation-rule type="required"  message="El nombre del Documento es obligatorio"> </dxi-validation-rule>
    </dxi-item>
    <dxi-item [colSpan]="2">
        <div *dxTemplate>
          <dx-button class="myButton3" [icon]="'doc'" text="Seleccionar Doc." type="default" (onClick)="fileUpload.click()" width="185">
          </dx-button>
          <input type="file" [hidden]="true" class="file-input" [accept]="'image/jpeg,image/gif,image/png,application/pdf,image/x-eps'" (change)="onDocSelected($event)" #fileUpload>
        </div>
    </dxi-item>
    <dxi-item [colSpan]="2">
      <div>{{vNOMBRE_ARCHIVO}}</div>
    </dxi-item>
    <dxi-item [type]="'empty'" [colSpan]="4">
    </dxi-item>
  </dx-form>
  <div class="form-group row text-right footer">
    <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
      <dx-button [text]="'Guardar'" [icon]="'save'" id="button" class="myButton4" type="success" stylingMode="contained" (click)="guardarDocPopup()">
      </dx-button>
      <dx-button [text]="'Cancelar'" [icon]="'close'" id="button" class="myButton4 myButtonSpace" type="danger" stylingMode="contained" (click)="hideDocPopup()" routerLinkActive="router-link-active">
      </dx-button>
    </div>
  </div>
</div>
</dx-popup>
<dx-popup
  [width]="'1200px'"
  [position]="'top'"
  [height]="'1050px'"
  [showTitle]="true"
  title="Vista Previa"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [shading]="false"
  [(visible)]="popupVisiblePdf"
  class="popout"
>
  <object [data]="PDF" type="application/pdf" width="100%" height="95%" >
    <embed [src]="PDF" type="application/pdf" />
  </object>
</dx-popup>
