<p-toast
	position="bottom-right"
	[showTransformOptions]="'translateY(100%)'"
	[hideTransitionOptions]="'500ms'"
	[showTransformOptions]="'translateX(100%)'"
></p-toast>

<div class="sguees-mtto-view">
<app-barra-data-mtto
	[tituloVentana]="tituloVentana"
	[subTituloVentana]="subTituloVentana"
	[isBrowse]="isBrowse()"
	[isForm]="isForm()"
	[permiteAdd]="permiteAdd"
	(nuevo)="nuevo()"
	(guardar)="guardar()"
	(cancelar)="cancelar()"
>
</app-barra-data-mtto>

<div class="content-block dx-card responsive-paddings riesgo-puesto-page riesgo-puesto-form-card" *ngIf="!isBrowse()">
	<dx-form
		#fData
		id="fData"
		[formData]="model"
		[labelLocation]="'top'"
		[colCount]="8"
		[colCountByScreen]="{ xs: 1, sm: 1, md: 4, lg: 8 }"
		[showRequiredMark]="false"
		[items]="items"
	>
	</dx-form>
</div>

<app-data-grid-mtto
	[isBrowse]="isBrowse()"
	[models]="models"
	[columns]="columns"
	[summary]="summary"
	[keyExpr]="'CORR_RIESGO_PUESTO'"
	[remoteOperations]="{ paging: true, filtering: true, sorting: true }"
	[headerFilterLoader]="loadHeaderFilterValues"
	[pageSize]="5"
	[allowedPageSizes]="pageSizes"
	[showSearch]="false"
	[showAdd]="true"
	[showRefresh]="true"
	[showExport]="true"
	[permitePrint]="permitePrint"
	[responsiveColumnHiding]="false"
	[columnHidingEnabled]="false"
	[exportFileName]="'RiesgoPuesto'"
	(refresh)="consultar()"
	(add)="nuevo()"
	(rowDblClick)="rowDblClick($event)"
	(rowRemoving)="rowRemoving($event)"
	(focusedRowChanged)="focusedRowChanged($event)"
></app-data-grid-mtto>

</div>

<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="(loadingVisible)"
>
</dx-load-panel>
