
.myButton4 {
  margin-right: 10px;
  width: 150px; /* Añade un margen derecho de 10px a todos los botones con la clase myButton4 */
  height: 35px;
}

.myButtonSpace {
  margin-left: 10px; /* Añade un margen izquierdo de 10px para crear espacio entre los botones */
}
#gridContainer * {
  margin: 0 auto;
}

#gridContainer {
  height: 100%;
}

#gridContainer2 {
  height: 100%;
}

