<div class="view-wrapper list-page">
  <app-barra-data-mtto
	[tituloVentana]="tituloVentana"
	[isBrowse]="isBrowse()"
	[isForm]="isForm()"
	[permiteAdd]="permiteAdd"
	(nuevo)="nuevo()"
	(guardar)="guardar()"
	(cancelar)="cancelar()"
  >
  </app-barra-data-mtto>

  <div *ngIf="!isBrowse()">
    <dx-form #fData id="fData" [formData]="model" [labelLocation]="'top'" [colCount]="8" [items]="items">
    </dx-form>
  </div>
  <app-data-grid-mtto
    class="theme-dependent"
    [isBrowse]="isBrowse()"
    [models]="models"
    [columns]="columns"
    [summary]="summary"
    [keyExpr]="'CORR_UNIDAD_MEDIDA'"
    [permiteEditar]="getPermiteEditar"
    [permiteDele]="getPermiteDele"
    (rowDblClick)="rowDblClick($event)"
    (rowRemoving)="rowRemoving($event)"
    (focusedRowChanged)="focusedRowChanged($event)"
    (editClick)="editarClick($event)"
  >
  </app-data-grid-mtto>
</div>

<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="(loadingVisible)"
>
</dx-load-panel>
