<app-header
  class="layout-header"
  [menuToggleEnabled]="true"
  (menuToggle)="menuOpened = !menuOpened"
  [title]="appInfo.title"
></app-header>

<p-toast position="bottom-right"></p-toast>

<dx-drawer
  class="layout-body"
  position="before"
  [closeOnOutsideClick]="shaderEnabled"
  [openedStateMode]="menuMode"
  [revealMode]="menuRevealMode"
  [minSize]="minMenuSize"
  [maxSize]="maxMenuSize"
  [shading]="shaderEnabled"
  [(opened)]="menuOpened"
>
  <side-navigation-menu
    [compactMode]="!menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()"
  >
    <app-footer>
      Copyright © {{ appInfo.currentYear }} <br/>
      Universidad Evangelica de el salvador - UEES - STI
    </app-footer>
  </side-navigation-menu>
  <dx-scroll-view class="drawer-content-scroll">
    <div class="sguees-enterprise-shell">
      <div class="sguees-enterprise-content view-wrapper list-page">
        <router-outlet></router-outlet>
      </div>
    </div>
  </dx-scroll-view>
</dx-drawer>
