@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--sguees-page-bg, var(--background-color));

  ::ng-deep {
    .dx-drawer-wrapper {
      width: 100%;
      height: 100%;
    }

    .dx-drawer-panel-content,
    .dx-drawer-content {
      height: 100%;
    }

    .dx-drawer-shrink .dx-drawer-content {
      overflow-x: hidden;
    }

    .dx-scrollview {
      height: 100%;
    }
  }
}

.content {
  position: relative;
  flex-grow: 1;
}
