<div class="sguees-mtto-view">
<app-barra-data-mtto
	[tituloVentana]="tituloVentana"

	[isBrowse]="isBrowse()"
	[isForm]="isForm()"
	[showRibbon]="true"
	[permiteAdd]="permiteAdd"
	[showRefresh]="true"
	[showExport]="permitePrint"
	[showEstadoToolbar]="true"
	[campoEstado]="mttoCampoEstado"
	[puedeCambiarEstado]="permiteEdit"
	[focusedRow]="isBrowse() ? model : null"
	(nuevo)="nuevo()"
	(guardar)="guardar()"
	(cancelar)="cancelar()"
	(consultar)="consultar()"
	(activarInactivar)="activar_inactivar()"
>
</app-barra-data-mtto>

<div class="content-block dx-card responsive-paddings sguees-mtto-form-card" *ngIf="!isBrowse()">
	<dx-form
		#fData
		id="fData"
		[formData]="model"
		[labelLocation]="'top'"
		[colCount]="mttoFormColCount"
		[colCountByScreen]="mttoFormColCountByScreen"
		[showRequiredMark]="false"
		[items]="items"
	>
		<div *dxTemplate="let cellInfo of 'CORR_LINEALookup'">
			<app-data-lookup
				[model]="mCORR_LINEA"
				[(value)]="model.CORR_LINEA"
				[selectedRowKeys]="selectedLookUpCORR_LINEA"
				[readOnly]="readOnly"
				[valueExpr]="'CORR_LINEA'"
				[displayExpr]="'NOMBRE_LINEA_TRABAJO'"
				[lookupColumns]="lineaLookupColumns"
			>
			</app-data-lookup>
		</div>
		<div *dxTemplate="let cellInfo of 'CORR_CLASE_PARTIDALookup'">
			<app-data-lookup
				[model]="mCORR_CLASE_PARTIDA"
				[(value)]="model.CORR_CLASE_PARTIDA"
				[selectedRowKeys]="selectedLookUpCORR_CLASE_PARTIDA"
				[readOnly]="readOnly"
				[valueExpr]="'CORR_CLASE_PARTIDA'"
				[displayExpr]="'NOMBRE_CLASE_PARTIDA'"
				[lookupColumns]="clasePartidaLookupColumns"
			>
			</app-data-lookup>
		</div>
		<div *dxTemplate="let cellInfo of 'SUMA_RESTALookup'">
			<app-data-lookup
				[model]="mSUMA_RESTA"
				[(value)]="model.SUMA_RESTA"
				[selectedRowKeys]="selectedLookUpNumerico"
				[readOnly]="readOnly"
			>
			</app-data-lookup>
		</div>
		<div *dxTemplate="let cellInfo of 'CLASE_MOVIMIENTOLookup'">
			<app-data-lookup
				[model]="mCLASE_MOVIMIENTO"
				[(value)]="model.CLASE_MOVIMIENTO"
				[selectedRowKeys]="selectedLookUpLista"
				[readOnly]="readOnly"
			>
			</app-data-lookup>
		</div>
		<div *dxTemplate="let cellInfo of 'CUENTA_CONTABLE_GASTOLookup'">
			<app-data-lookup
				[model]="mCUENTA_CONTABLE"
				[(value)]="model.CUENTA_CONTABLE_GASTO"
				[selectedRowKeys]="selectedLookUpCUENTA_CONTABLE"
				[readOnly]="readOnly"
				[valueExpr]="'CUENTA_CONTABLE'"
				[displayExpr]="'CUENTA_CONTABLE'"
				[lookupColumns]="cuentaLookupColumns"
				[showClearButton]="true"
			>
			</app-data-lookup>
		</div>
	</dx-form>

	<section class="sguees-section-card documento-detalle-card" *ngIf="isForm()">
		<dx-tab-panel class="documento-tab-panel" [selectedIndex]="0">
			<dxi-item title="Movimientos según banco" icon="detailslayout">
				<div class="dx-grid-deta documento-deta-grid">
					<div class="documento-deta-toolbar" *ngIf="puedeEditarSegunBanco()">
						<dx-button
							class="documento-deta-toolbar-btn"
							icon="add"
							text="Agregar Detalle"
							type="success"
							stylingMode="contained"
							(onClick)="agregarSegunBanco()"
							[disabled]="segunBancoEditando"
						></dx-button>
						<dx-button
							class="documento-deta-toolbar-btn"
							icon="save"
							text="Guardar"
							type="success"
							stylingMode="contained"
							(onClick)="guardarSegunBancoEditado()"
							[disabled]="!segunBancoEditando"
						></dx-button>
						<dx-button
							class="documento-deta-toolbar-btn documento-deta-toolbar-btn--cancel"
							icon="revert"
							text="Cancelar"
							type="danger"
							stylingMode="contained"
							(onClick)="cancelarSegunBancoEditado()"
							[disabled]="!segunBancoEditando"
						></dx-button>
					</div>
					<dx-data-grid
						#gridSegunBanco
						class="theme-dependent sguees-data-grid-mtto sguees-data-grid-mtto--enterprise documento-deta-datagrid"
						[dataSource]="segunBancoDetalle"
						[keyExpr]="['CORR_BANCO', 'CODIGO_MOVIMIENTO']"
						[columnAutoWidth]="false"
						[showBorders]="true"
						[showColumnLines]="true"
						[showRowLines]="true"
						[rowAlternationEnabled]="true"
						[hoverStateEnabled]="true"
						[allowColumnResizing]="true"
						[columnResizingMode]="'widget'"
						[focusedRowEnabled]="true"
						[autoNavigateToFocusedRow]="true"
						[height]="280"
						[width]="'100%'"
						(onContentReady)="onDetalleGridContentReady($event)"
						(onInitNewRow)="segunBancoInitNewRow($event)"
						(onRowInserting)="segunBancoRowInserting($event)"
						(onRowUpdating)="segunBancoRowUpdating($event)"
						(onRowRemoving)="segunBancoRowRemoving($event)"
						(onRowValidating)="segunBancoRowValidating($event)"
						(onEditingStart)="onSegunBancoEditingStart($event)"
						(onSaved)="onSegunBancoSaved($event)"
						(onEditCanceled)="onSegunBancoEditCanceled($event)"
					>
						<dxo-toolbar>
							<dxi-item name="searchPanel" location="after"></dxi-item>
						</dxo-toolbar>
						<dxo-editing
							mode="row"
							[refreshMode]="'reshape'"
							[allowAdding]="puedeEditarSegunBanco()"
							[allowUpdating]="puedeEditarSegunBanco()"
							[allowDeleting]="puedeEditarSegunBanco()"
							[useIcons]="true"
							[selectTextOnEditStart]="true"
						></dxo-editing>
						<dxo-search-panel [visible]="true"></dxo-search-panel>
						<dxo-paging [enabled]="false"></dxo-paging>
						<dxi-column
							type="buttons"
							name="btnAcciones"
							caption="Options"
							[width]="104"
							[minWidth]="104"
							alignment="center"
							[allowResizing]="false"
						>
							<dxi-button
								hint="Editar registro"
								icon="edit"
								stylingMode="text"
								cssClass="sguees-grid-action-edit"
								[visible]="segunBancoEditButtonVisible"
								[onClick]="editarSegunBancoClick"
							></dxi-button>
							<dxi-button
								name="delete"
								hint="Eliminar registro"
								icon="trash"
								stylingMode="text"
								cssClass="sguees-grid-action-delete"
								[visible]="segunBancoDeleteButtonVisible"
							></dxi-button>
							<dxi-button name="save" [visible]="false"></dxi-button>
							<dxi-button name="cancel" [visible]="false"></dxi-button>
							<dxi-button name="edit" [visible]="false"></dxi-button>
						</dxi-column>
						<dxi-column
							dataField="CORR_BANCO"
							caption="Banco"
							[width]="220"
							[minWidth]="180"
							[calculateDisplayValue]="bancoNombreDisplay"
							[setCellValue]="bancoSetCellValue"
							[editCellTemplate]="'CORR_BANCOLookup'"
						>
							<dxo-lookup
								[dataSource]="mCORR_BANCO"
								valueExpr="CORR_BANCO"
								displayExpr="NOMBRE_BANCO"
							></dxo-lookup>
						</dxi-column>
						<dxi-column
							dataField="CODIGO_MOVIMIENTO"
							caption="Código banco"
							[width]="130"
							[minWidth]="110"
						></dxi-column>
						<dxi-column
							dataField="NOMBRE_MOVIMIENTO_SEGUN_BANCO"
							caption="Nombre según banco"
							[minWidth]="240"
						></dxi-column>
						<div *dxTemplate="let cellInfo of 'CORR_BANCOLookup'">
							<app-data-lookup
								[setValue]="cellInfo.setValue"
								[model]="mCORR_BANCO"
								[(value)]="cellInfo.value"
								[selectedRowKeys]="selectedLookUpCORR_BANCO"
								[valueExpr]="'CORR_BANCO'"
								[displayExpr]="'NOMBRE_BANCO'"
								[lookupColumns]="bancoLookupColumns"
							></app-data-lookup>
						</div>
					</dx-data-grid>
				</div>
			</dxi-item>
		</dx-tab-panel>
	</section>
</div>

<app-data-grid-mtto
	[isBrowse]="isBrowse()"
	[models]="models"
	[columns]="columns"
	[summary]="summary"
	[keyExpr]="mttoGridKeyExpr"
	[pageSize]="mttoPageSize"
	[allowedPageSizes]="mttoPageSizes"
	[remoteOperations]="mttoRemoteOperations"
	[nativeToolbar]="true"
	[unifiedToolbar]="false"
	[showSearch]="false"
	[showAdd]="false"
	[showRefresh]="false"
	[showExport]="false"
	[showEstadoToolbar]="true"
	[campoEstado]="mttoCampoEstado"
	[puedeCambiarEstado]="permiteEdit"
	[focusedRowKey]="gridFocusedRowKey"
	[permitePrint]="permitePrint"
	[permiteEditar]="getPermiteEditar"
	[permiteDele]="getPermiteDele"
	[responsiveColumnHiding]="false"
	[columnHidingEnabled]="false"
	[exportFileName]="'TiposMovimientoBancario'"
	(activarInactivar)="activar_inactivar()"
	(rowDblClick)="rowDblClick($event)"
	(rowRemoving)="rowRemoving($event)"
	(focusedRowChanged)="focusedRowChanged($event)"
	(editClick)="editarClick($event)"
>
</app-data-grid-mtto>

</div>

<dx-load-panel
	#loadPanel
	shadingColor="rgba(0,0,0,0.4)"
	[position]="{ my: 'center', at: 'center', of: '#LoadPanel' }"
	[(visible)]="loadingVisible"
	[showIndicator]="true"
	[showPane]="true"
	[shading]="true"
	(onShown)="(loadingVisible)"
>
</dx-load-panel>
