<div class="sguees-barra-mtto">
  <div class="sguees-barra-mtto__header-row" *ngIf="showPageHeader">
    <app-page-header
      class="sguees-barra-mtto__page-header"
      [title]="tituloVentana"
      [subtitle]="resolvedSubtitle"
      [eyebrow]="eyebrow || ''"
      [breadcrumbs]="breadcrumbs ?? null"
      variant="enterprise"
    >
      <ng-container *ngTemplateOutlet="barraToolbar"></ng-container>
    </app-page-header>
  </div>

  <ng-container *ngIf="showPageHeader">
    <ng-container *ngTemplateOutlet="barraToolbar"></ng-container>
  </ng-container>
</div>

<ng-template #barraToolbar>
  <dx-toolbar class="theme-dependent sguees-barra-toolbar sguees-barra-toolbar--inline sguees-barra-toolbar--grouped">
    <dxi-item location="before" widget="dxButton" [options]="optNuevo"></dxi-item>
    <dxi-item *ngIf="!isBrowse && isForm" location="before" widget="dxButton" [options]="optGuardar"></dxi-item>
    <dxi-item *ngIf="!isBrowse" location="before" widget="dxButton" [options]="optCancelar"></dxi-item>
    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="toolbar-separator sguees-toolbar-divider"></div>
      </div>
    </dxi-item>
    <dxi-item [location]="btn1Location" widget="dxButton" [options]="optBtn1" locateInMenu="auto"></dxi-item>
    <dxi-item [location]="btn2Location" widget="dxButton" [options]="optBtn2" locateInMenu="auto"></dxi-item>
    <dxi-item [location]="btn3Location" widget="dxButton" [options]="optBtn3" locateInMenu="auto"></dxi-item>
    <dxi-item [location]="btn4Location" widget="dxButton" [options]="optBtn4" locateInMenu="auto"></dxi-item>
    <dxi-item [location]="btn5Location" widget="dxButton" [options]="optBtn5" locateInMenu="auto"></dxi-item>
    <dxi-item [location]="btn6Location" widget="dxButton" [options]="optBtn6" locateInMenu="auto"></dxi-item>
    <dxi-item location="before" locateInMenu="never">
      <div *dxTemplate>
        <ng-content select="[toolbarExtra]"></ng-content>
      </div>
    </dxi-item>
    <dxi-item location="after" locateInMenu="auto" widget="dxButton" showText="inMenu" [options]="optRefresh"></dxi-item>
    <dxi-item location="after" widget="dxDateBox" [options]="optFechaInicial" locateInMenu="auto"></dxi-item>
    <dxi-item location="after" widget="dxDateBox" [options]="optFechaFinal" locateInMenu="auto"></dxi-item>
  </dx-toolbar>
</ng-template>
